/* mediab query (1170px )*/
@media (max-width: 1170px) {
  /* general css */
  .section-subtitle {
    max-width: 60%;
  }
}

@media (max-width: 991px) {
  /* general css */
  .about
    .banner-section
    .product
    .banner-section
    .contact
    .banner-section
    .gallery
    .banner-section {
    padding-top: 12.5rem;
    padding-bottom: 3rem;
  }
  /* 01 navbar */
  .header .navbar {
    background-size: cover;
    padding: 2rem;
  }
  .header .navbar-nav {
    margin-top: 2rem;
  }
  .header .navbar-nav .nav-link {
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
  }
  .header .header-right span {
    padding: 0.2rem 0.5rem;
  }
}
